# Directories
screenshots/
logs/

# Environment variables
.env

# Deno
.deno/

# macOS
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
